<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perguntas</title>
</head>
<body>
    <h1>Perguntas</h1>
    <ul>
        {% for pergunta in perguntas %}
            <li>
                <p>{{ pergunta.pergunta }}</p>
                <ul>
                    {% for opcao in pergunta.opcoes %}
                        <li>{{ opcao }}</li>
                    {% endfor %}
                </ul>
                <p>Resposta Correta: {{ pergunta.resposta_correta }}</p>
                <p>Tema: {{ pergunta.tema }}</p>
                <p>Nível de Dificuldade: {{ pergunta.nivel_dificuldade }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
